.search p.empty{
    line-height: 1.3em;
}
.sidebar{
    width: 280px;
}
.sidebar-nav > ul > li > a, .sidebar-nav > ul > li > p > a{
    position: relative;
    color: #42b983;
}
.sidebar-nav > ul > li.active > a{
    font-weight: normal;
    border: none;
}
.sidebar-nav > ul > li > a:after, .sidebar-nav > ul > li > p > a:after{
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -6px;
    display: block;
    content: '';
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent #42b983;
    transition: all 0.2s;
}
.sidebar-nav > ul li a:hover{
    text-decoration: none;
}